<plugin name='kindeditor' version='0.1' grailsVersion='1.3.7 &gt; *'>
  <author>Dong Weiqiang</author>
  <authorEmail>dongwqs@gmail.com</authorEmail>
  <title>grails plugin for kindeditor./kindeditor</title>
  <description>\
Brief description of the plugin.
this is a grails plugin for kindeditor
</description>
  <documentation>http://grails.org/plugin/kindeditor</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>KindEditorUrlMappings</resource>
    <resource>com.dong.KindeditorController</resource>
    <resource>com.dongwq.KindeditorTagLib</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>